@use "../mixin.scss" as MX;
@use "../grid.scss" as G;

//- Mixins locales

/* Comienzo Main */
.Main {
  grid-row: G.$Grid_Main_Row;
  grid-column: G.$Grid_Main_Column;

  & .section {
    display: grid;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &:first-child {
      height: 90vh;

      background-color: var(--c_green400);

      & .article {
        height: 100%;

        @include MX.Flexbox(flex, column nowrap, center, space-evenly);
      }
    }

    &:nth-child(2) {
      min-height: 75vh;

      & .article {
        height: 100%;

        @include MX.Flexbox(flex, column nowrap, center, space-between);
      }
    }

    &:nth-child(3) {
      min-height: 50vh;

      background-color: var(--c_green400);

      & .article {
        @include MX.Flexbox(flex, row nowrap, center, space-around);
      }
    }

    &:nth-child(4) {
      min-height: 50vh;

      background-color: var(--c_green400);

      & .article {
        @include MX.Flexbox(flex, row nowrap, center, space-around);
      }
    }

    &:last-child {
      min-height: 60vh;

      & .article {
        height: 100%;

        @include MX.Flexbox(flex, row nowrap, center, space-around);

        & .title {
          color: var(--c_white);
        }
        & .description {
          color: var(--c_grey400);
        }
      }
    }
  }
}
