@use '../mixin.scss' as MX

/* Comienzo Navbar */

.navbar 
  height: 128px

  container: navbar / inline-size

  @include MX.Flexbox(flex, row wrap, center, space-between)

  &__logo 
    display: inline-flex
    align-items: center
    gap: 0.5rem

    color: var(--c_white)

  &__menu 
    display: flex
    gap: 1rem

    color: var(--c_grey400)

    &--item 
      list-style-type: none

      &--link 
        text-decoration: none
  
  &__buttons
    @import '../components/_c_button.scss'


@container navbar ( max-width: 768px ) 
  .Header .navbar 
    &__menu 
      &--item 
        &--link 
          color: red


